.lefttree {
	display: inline-block;
	overflow:hidden;
	width: 20rem;
	height: 100%;
	vertical-align: top;
}
.rightcont {
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 20rem);
	height: 100%;
	border-left: 1px solid black;
	box-sizing: border-box;
	vertical-align: top;
	.content {
		max-width: 740px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
	}
}